/* src/index.css */

:root {
  --primary-color: #ff8c00; /* Um tom de laranja vibrante */
  --color-base: #fda942;
  --background-color: #1a1a1a;
  --text-color: #f0f0f0;
  --container-color: #242424;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
